* {
	margin: 0;
	padding: 0;
}

body {
	background-color: darkslategray;
}

#game-container {
	width: 100%;
	height: 100vh;
}

/* Fix mozilla error */
canvas {
	display: block;
}

#title, #subtitle {
	position: absolute;
	text-align: center;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4rem;
	color: white;
	text-shadow: 2px 2px black;
}

#title{
	top: 10%;
}
#subtitle{
	top: 70%;
}



.noselect{
	user-select: none;
}